<div class="card-container">
  

<body>
  <div class="container">
    <h1>¡Bienvenido!</h1>
    <p>Prepárate para poner a prueba tu memoria en este divertido y desafiante juego. ¿Estás listo?</p>
    <div class="flex">
      <button class="btn" (click)="registrarse()">Registrarse</button>
      <button class="btn" (click)="jugar()">Jugar</button>
    </div>
  </div>
</body>

 <footer class="footer">
    <p>Autores: Luis Miguel Castro Villegas / Juan Camilo Bustamante Rodas © 2025</p>
  </footer>
</div>

