<app-header></app-header>

<ng-container *ngIf="!playerNames">
  <app-player-setup (playersSet)="onPlayersSet($event)"></app-player-setup>
</ng-container>

<ng-container *ngIf="playerNames">
  <div class="main" [ngClass]="currentPlayer">

    <app-sidebar 
    [redPlayerName]="playerNames.red || 'Equipo Rojo'" 
    [bluePlayerName]="playerNames.blue || 'Equipo Azul'">
  </app-sidebar>
  
    <p class="turn-indicator">
      Turno de: <span [ngClass]="currentPlayer">{{ playerNames?.[currentPlayer] || currentPlayer }}</span>
    </p>
    
  </div>
</ng-container>


<router-outlet />
